body {
    margin: 0;
}


.navar {
    background-color: #25262c;
    color: antiquewhite;
    padding: 20px 0;
}

header h1 {
    margin: 0;
}

.carousel-item{
    max-height: 30rem;
}

.container {
    display: flex;
    
}

.card {
   margin: 20px;
   align-items: center;
}

footer {
    text-align: center;
}

.mb-3{
    margin: 100px;
}